/*desktop*/
body {
    margin:0;
    padding:0;
    background-color: #393a3e;
	font-family: 'Poppins';
    color:white;
	font-weight: 400;
}

a:visited {
    color:#f9b200;
}

a:link {
    color:#f9b200;
}

/*Scrollbar Styling*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #393a3e;
}

::-webkit-scrollbar-thumb {
	background-color: #F90;	
}

/*body breakdown*/

#nav_head {
    display: block;
    margin: 0 auto;
    height: 9vh;
    width: 90vw;
}

#main {
    display: block;
    margin: 0 auto;
    height: 80vh;
    width: 90vw;
    position: relative;
}

#nav_foot {
    display: block;
    margin: 0 auto;
    height: 8vh;
    width: 90vw;   
}

/*end of layout*/


/*nav header*/

.navlogo{
    font-weight: 700;
    font-size: 3em;
    color: #f9b200;
    z-index: 1000;
    float: left;
    height: 9vh;
    display:none;
}

.navmenu {
	display:none;
	background-color: #393a3e;    
}

.menubutton {
    font-size: 1.5em;
    border: none;
    background: none;
    z-index: 1000;
    float: right;
    height: 8vh;
	color:white;
}

.menubutton:hover{
    color: #f9b200;
}

/*end of nav header*/



/*cover start*/

#cover {
    z-index:10;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/back_cover.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

#cover_contents {
	height:100%;
	max-width:70%;
	margin:0 auto;
}

.contents {
	padding:10px;
	min-height: 15vh;
    margin-bottom: 50vh;
}

#cover img{
	display:block;
	max-width:100%;
	height:auto;
}

.cover-icon{
	width:100px;
	height:100px;
}

.cover section{
    min-height: 15vh;
    margin-bottom: 10vh;
	max-height:100%;
	display: -webkit-inline-box;

}

.cover leftbox {
	max-width: 40%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.cover rightbox {
	max-width: 50%;
	float: right;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.cover h1{
    font-size: 6em;
    color: #f9b200;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    margin:0;
}

.cover h2{
    font-size: 3em;
    color: #f9b200;
    line-height: 1.0;
    position: relative;
    z-index: 2;
    margin:0;
}

/*end of cover*/

.home_centered{
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple_warning{
	display:none;
}

/*map panel start*/
#map_panel {
    display: block;
    height: 100%;
    width: 100%;
}

#map {
    width: 70%;
    height: 100%;
    float: left;
}

#map_info {
    width: 30%;
    height: 100%;
    float: right;
}

#maptabs{
	position:relative;
	max-width: 100vw;
    
}
.maptab_button {
    font-size: 1em;
    background: none;
    cursor: pointer;
    padding: 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border: 2px solid #7f7f7f;
    color: #7f7f7f;
    overflow: hidden;
    width: 33.33333333%;
    float: left;
    height:60px;
}

.maptab_button:hover {
    border-color: #f9b200;
	color: #f9b200
}

#seemap{
	display:none;
}

.btn_active {
	border-color: #fff;
	color: #fff;
}

div#searchmap {
    overflow-y: auto;
    height:100%;
	position: relative;
    float: left;
	display:block;
	margin-bottom: 25vh;
}

div#mapresults {
    overflow-y: auto;
    height:100%;
	position: relative;
    float: left;
	width:100%;
	margin-bottom: 25vh;
}

div#mapoption {
    overflow-y: auto;
    height:100%;
	position: relative;
    float: left;
	margin-bottom: 25vh;
}

.geocoder {
    position:relative;
    z-index:1;
    width:100%;
    }
.mapboxgl-ctrl-geocoder { 
    min-width:100%;
    /* width: 33.3333%; */
}

/*map panel end*/


/*nav footer contents*/

#nav_foot p {
    text-align: center;
}

#nav_foot img{
    max-height: 100%;
    vertical-align: bottom;
}
/*cover*/



.logo {
	width:55vw;
    margin: 0 auto;
    padding-top: 3vh;
}

.logo img {
max-width:100px;
}

.logoanimated{

    text-align: left;
    font-size:30px;
}

.logo p {
text-align: center;
padding-top: 10px;
}

.logo_btn {
text-align: center;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.btn:hover {
    border: 3px solid #f9b200;
	color: #f9b200;
}



#mapresults_list {
	margin-bottom: 25vh;
}